body{
    background-color: #0d1117;
    color: white;
    margin: 0%;
}
#icon{
    height: 30px;
    width: 30px;
    position: fixed;    
}
#circle{
    background-color: white;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#containerSelect{
    background-color: #11171f;
    width: 60%;
    height: 100%;
    position: fixed;
    left: 20%;
    margin-top: 10px;
    display: grid; /* tente grid*/
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-items: center;
    
}
.lingIcon{
    height: 100%;
    width: 100%;
    opacity : 0.5;
    border-radius: 10px;
    box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.229);
}
.selectLing .on:hover{
    opacity : 1;
}
.selectLing{
    margin: 10px;
    height: 200px;
    width: 300px;
    background-color: #222f45;
    margin-top: 40px;
}
header{
    background-color: #11171f;
    padding: 8px;
    border-bottom: 0.1px solid rgba(255, 255, 255, 0.208);
}
h1{
    display: inline;
    position: absolute;
    left: 68px;
    top: -7px;
    
}
